<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="afterwork.backend.mapper.BoardMapper">

<select id="boardCount" resultType="int">
    SELECT COUNT(*) AS cnt FROM BOARD
</select>
<select id="getList" resultType="afterwork.backend.domain.BoardDomain">
    SELECT * FROM BOARD
</select>
<select id="getBoard" parameterType="java.lang.Long" resultType="afterwork.backend.domain.BoardDomain">
    SELECT * FROM BOARD WHERE boardId=#{boardId};
</select>

<select id="getAllSendBoard" resultType="afterwork.backend.domain.BoardDomain">
    SELECT * FROM BOARD
</select>


</mapper>
