<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시판 목록</title>
</head>
<body>
    <h1>게시판 목록</h1>
    <table border="1">
        <thead>
            <tr>
                <th>게시글 번호</th>
                <th>작성자</th>
                <th>제목</th>
                <th>조회수</th>
            </tr>
        </thead>
        <tbody>
            <!-- 데이터 출력 -->
            <tr th:each="list : ${list}">
                <td th:text=[[${list.boardId}]]></td>
                <td th:text=[[${list.name}]]></td>
                <td th:text=[[${list.title}]]></td>
                <td th:text=[[${list.read}]]></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
